POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_DB=app
ASSISTANT_DB=assistant

JWT_SECRET=change-me
FIRST_SUPERUSER_EMAIL=admin@example.com
FIRST_SUPERUSER_PASSWORD=change-me
FIRST_SUPERUSER_USERNAME=admin
FIRST_SUPERUSER_CLIENT_NAME=default
